.testimonialSection {
  width: 100vw;
  padding: 7rem 18rem 3rem 18rem;
  text-align: center;
}

.testimonialSection div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonialSection div span p:nth-child(1) {
  text-align: left;
  font-weight: bold;
  font-size: 1.4rem;
  color: #281aef;
}
.testimonialSection div span p:nth-child(2) {
  text-align: left;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.6rem;
  color: #07042f;
  max-width: 50rem;
  margin-bottom: 8rem;
}
@media screen and (max-width: 1199px) {
  .testimonialSection {
    padding: 5rem 12rem 2rem 12rem;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .testimonialSection {
    padding: 7rem 8rem 3rem 8rem;
  }
  .testimonialSection button {
    display: none;
  }
  .testimonialSection div span p:nth-child(2) {
    font-size: 2.8rem;
    line-height: 3.8rem;
    max-width: 40rem;
  }
}
