.marquee {
  position: relative;
  margin: 0 auto;
  max-width: 90rem;
  width: 100vw;
  height: 9rem;
  overflow: hidden;
  display: flex;
}
.footerMarquee {
  height: 6rem;
  padding: 2rem 0;
}
.footerMarquee .track span {
  color: #fff;
}
.track {
  white-space: nowrap;
}
.track span {
  font-size: 1.6rem;
  padding: 1rem 4.2rem 1rem 0;
}
.marquee::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 9rem;
  width: 22rem;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
  content: '';
  z-index: 2;
}

.marquee::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 9rem;
  width: 22rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  content: '';
  z-index: 2;
}
.footerMarquee::before {
  background: linear-gradient(to left, rgba(7, 4, 47, 0), #040217);
}
.footerMarquee::after {
  background: linear-gradient(to right, rgba(7, 4, 47, 0), #040217);
}
.marquee img {
  height: 6rem;
  margin: 1rem 4.2rem 1rem 0;
  object-fit: contain;
}
