.featuredWorkSection {
  padding: 7rem 5rem;
}
.featuredWorkSectionHeader {
  text-align: center;
}
.featuredWorkSectionHeader p:nth-child(1) {
  color: #281aef;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.featuredWorkSectionHeader p:nth-child(2) {
  color: #07042f;
  font-size: 3.6rem;
  line-height: 4.6rem;
  font-weight: bold;
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.featuredWorkSection div:nth-child(2) {
  font-size: 4.6rem;
  line-height: 4.6rem;
  font-weight: bold;
  max-width: 130rem;
  width: 90vw;

  margin: 2rem auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featuredWorkSection div:nth-child(2) div {
  display: flex;
  gap: -20px;
}
.featuredWorkSection div:nth-child(2) img {
  width: 350px;
  height: 30rem;
  object-fit: cover;
  border-radius: 24px;
  margin: 2rem;
}

.featuredWorkSectionStats {
  margin: 3rem auto;
  max-width: 40rem;
}
.featuredWorkSectionStats ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featuredWorkSectionStats ul span {
  color: #07042f;
  font-size: 3.2rem;
  font-weight: bold;
}
.featuredWorkSectionStats ul p {
  color: #656572;
  font-size: 1.6rem;
}
@media screen and (max-width: 1199px) {
  .featuredWorkSection div:nth-child(2) {
    margin: 0;
  }
  .featuredWorkSection div:nth-child(2) div {
    height: 100vh;
  }
  .featuredWorkSection div:nth-child(2) div {
    flex-direction: column;
    height: 100vh;
    margin: 0 4rem 4rem 0;
  }
}
@media screen and (max-width: 810px) {
  .featuredWorkSection div:nth-child(2) {
    margin: 2rem 4rem;
  }
  .featuredWorkSection div:nth-child(2) {
    margin: 0;
  }
}
