.contactPage {
}
.contactHeader {
  font-weight: bold;
  margin: 4rem 12rem;
}
.contactHeader p:nth-child(1) {
  color: #281aef;
  font-size: 1.4rem;
}
.contactHeader p:nth-child(2) {
  color: #07042f;
  font-size: 3.6rem;
  line-height: 4.6rem;
  max-width: 45rem;
  margin-bottom: 2rem;
}
.formContainer {
  display: flex;
}
form {
  width: 50rem;
  height: 29rem;
  margin: 2rem 5rem;
}
form textarea {
  display: block;
  width: 95%;
}
form input,
textarea {
  font-size: 1.6rem;
  padding: 1.5rem;
  margin: 1rem 0.5rem;
  background-color: #ebebeb;
  color: #000;
  border: none;
  border-radius: 13px;
}
form button {
  width: 48rem;
}
.imgGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 185px);
  gap: 3rem;
}
.imgGridContainer img {
  width: 100%;
  border-radius: 13px;
}
.imgGridContainer img:nth-child(3) {
  width: 40rem;
  height: 20rem;
  grid-column-start: 1;
  grid-column-end: 3;
}
