.testimonialHeader {
  text-align: left;
  margin: 4rem 12rem;
}

.testimonialHeader {
  font-weight: bold;
}
.testimonialHeader p:nth-child(1) {
  color: #281aef;
  font-size: 1.4rem;
}
.testimonialHeader p:nth-child(2) {
  color: #07042f;
  font-size: 3.6rem;
  line-height: 4.6rem;
  max-width: 45rem;
}
.testimonialContainer {
  margin: 3rem 12rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
}

@media screen and (max-width: 1199px) {
  .testimonialContainer {
    margin: 3rem 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
}
@media screen and (max-width: 810px) {
  .testimonialContainer {
    margin: 3rem 8rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
