.navbar {
  padding: 3rem 0rem;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}
.navbar div {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
}
.btnContainer button {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  display: none;
}
.navContainer {
  display: flex;
  flex-direction: column;
}
.btnContainer span {
  margin: 0 0 5px 0;
  width: 33px;
  height: 4px;
  background-color: #07042f;
  display: block;
  border-radius: 2px;
}
.menuIcon {
  display: none;
}
.navbar h1 {
  font-weight: bold;
  font-size: 2rem;
  color: #07042f;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}
.navbar ul {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
  width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: hover 3s ease;
}
.navbar a:-webkit-any-link:hover {
  color: #281aef;
}
@media screen and (max-width: 809px) {
  .navbar {
    padding: 3rem 5rem;
    justify-content: baseline;
    align-items: baseline;
  }
  .navbar h1 {
    font-size: 2.5rem;
  }
  .navbar .btnContainer button {
    display: inline-block;
    position: absolute;
    z-index: 999;
    left: 90%;
    /* top: 20%; */
  }
  .navbar ul {
    position: absolute;
    width: 100%;
    height: 80vh;
    top: 0.3%;
    left: 0;
    padding: 3rem 0;
    background-color: #fff;
    margin: 8rem 0;
    font-weight: bold;
    font-size: 2.3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar ul li {
    margin-bottom: 5rem;
  }
}
