html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}
body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}
textarea {
  resize: none;
}
ul,
ol {
  list-style: none;
}
a:link {
  text-decoration: none;
}
button:focus,
button:focus-visible {
  outline: none;
}
a:-webkit-any-link {
  color: #07042f;
  cursor: pointer;
  text-decoration: none;
}
